-- backend/migrations/034_issue_documents.sql

-- Documentos de Egreso (Ventas / Ajustes / Mermas)
create table if not exists issue_documents (
  id              uuid default uuid_generate_v4() primary key,
  org_id          uuid references organizations(id) on delete cascade,
  warehouse_id    uuid references warehouses(id) on delete cascade,
  reason          text check (reason in ('sale', 'adjustment', 'waste', 'internal_consumption')),
  notes           text,
  status          text check (status in ('draft', 'confirmed')) default 'confirmed',
  created_by      uuid references profiles(id),
  created_at      timestamp with time zone default now()
);

create table if not exists issue_document_lines (
  id              uuid default uuid_generate_v4() primary key,
  issue_id        uuid references issue_documents(id) on delete cascade,
  item_id         uuid references items(id) on delete cascade,
  qty_base        numeric(18, 6) not null,
  presentation_id uuid references uom_presentations(id),
  qty_presentation numeric(18, 6)
);
