-- backend/migrations/035_transfers.sql

create table if not exists transfer_documents (
  id              uuid default uuid_generate_v4() primary key,
  org_id          uuid references organizations(id) on delete cascade,
  origin_warehouse_id uuid references warehouses(id) on delete cascade,
  destination_warehouse_id uuid references warehouses(id) on delete cascade,
  status          text check (status in ('in_transit', 'confirmed', 'confirmed_with_discrepancy')) default 'in_transit',
  notes           text,
  created_by      uuid references profiles(id),
  confirmed_by    uuid references profiles(id),
  created_at      timestamp with time zone default now(),
  confirmed_at    timestamp with time zone
);

create table if not exists transfer_document_lines (
  id              uuid default uuid_generate_v4() primary key,
  transfer_id     uuid references transfer_documents(id) on delete cascade,
  item_id         uuid references items(id) on delete cascade,
  presentation_id uuid references uom_presentations(id),
  qty_sent_presentation numeric(18, 6) not null,
  qty_sent_base   numeric(18, 6) not null,
  unit_cost_base  numeric(18, 6) not null, -- Computed during creation based on FIFO from origin
  qty_received_presentation numeric(18, 6),
  qty_received_base numeric(18, 6)
);

-- Permisos
INSERT INTO permissions (module, action, key, description) VALUES
  ('inventory', 'transfer', 'inventory.transfer', 'Crear traslados entre almacenes'),
  ('inventory', 'transfer_confirm', 'inventory.transfer_confirm', 'Confirmar recepción de traslados')
  ON CONFLICT (key) DO NOTHING;
